
<!-- Loop over each object in the projects array -->
{{#each recipes as |recipe| }}
<div class="row mb-4 project">
  <div class="col-md-2">
      <a href="/recipes/{{recipe.id}}">
      <img src={{recipe.images.0.location}} style="width: 200px; height: 200px;">
      </a>
   </div> 
    <div class="col-md-7" style="margin-left:30px;">
       <a href="/recipes/{{recipe.id}}"><h2>{{recipe.name}} </h2></a>
        <p>
        {{recipe.description}}
        <p>Created by {{recipe.user.name}} on {{format_date recipe.date_created}}</p>
        </p>
    </div>
</div>
{{/each}}

<section class="py-5 text-center container">
          <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h3 class="py-5">Upload your photos here</h3>
              <!-- Make changes here within the form tag -->
              <form action="/api/recipes/images/1" method="POST" enctype="multipart/form-data">
                <div class="mb-3">
                      <div class="form-file custom-file">
                          <input class="form-control" type="file" id="formFile" name="image" multiple>
                          <label class="form-file-label" for="image"></label>
                      </div>

                </div>
                      <button type="submit" class="btn btn-success">Upload</button>
            </form>
            </div>
          </div>
</section>