<div class='row justify-content-center mt-5'>
  <h2>Welcome, {{name}}!</h2>
</div>

<div class='container d-flex flex-column mt-3'>
  <div class='d-flex flex-column align-items-center'>
    <h3>Create a New Recipe:</h3>

    <form
      class='form new-project-form mt-3'
      action='/api/recipes/'
      method='POST'
      enctype='multipart/form-data'
      style='width:80%;max-width:600px;'
    >
      <div class='form-group'>
        <label for='name'>Recipe name:</label>
        <input
          class='form-input form-control form-control'
          type='text'
          id='recipe-name'
          name='name'
        />
      </div>
      <div class='form-group'>
        <label for='description'>Description:</label>
        <textarea
          class='form-input form-control'
          id='recipe-desc'
          name='description'
        ></textarea>
      </div>
      <div class='form-group'>
        <label for='ingredients'>Ingredients:</label>
        <textarea
          class='form-input form-control'
          id='recipe-ingr'
          name='ingredients'
        ></textarea>
      </div>
      <div class='form-group'>
        <label for='steps'>Steps:</label>
        <textarea
          class='form-input form-control'
          id='recipe-steps'
          name='steps'
        ></textarea>
      </div>
      <div class='mb-3'>
        <div class='form-file custom-file'>
          <label class='form-file-label' for='image'>Upload Images</label>
          <input
            class='form-control'
            type='file'
            id='formFile'
            name='image'
            multiple
          />
        </div>
      </div>
      {{! <button type="submit" class="btn btn-success">Upload</button> }}
      <div class='form-group'>
        <button
          type='submit'
          class='btn btn-success d-block mt-5 mx-auto'
        >Create</button>
      </div>
    </form>

  </div>

  {{#if recipes.length}}
    <div class='d-flex align-items-center justify-content-center flex-column'>
      <h3>Current Recipes:</h3>
      <div>{{#each recipes as |recipe|}}
          <div class='mb-2'>
            <div class='col-md-8'>
              <h4><a href='/recipes/{{recipe.id}}'>{{recipe.name}}</a></h4>
            </div>
            <div class='m-2'>
              <button
                id='edit-link'
                href='/profile'
                class='btn btn-info m-2'
                data-id='{{recipe.id}}'
              >Edit</button>
              <button
                id='del-link'
                class='btn btn-danger m-2'
                data-id='{{recipe.id}}'
              >Delete</button>
            </div>
          </div>
        {{/each}}</div>

    </div>
  {{/if}}
</div>

<script src='./js/profile.js'></script>